.event {
    box-shadow: 5px 5px 25px #a3a2bb;
    background-color: #354467;
    color: white;
    border-radius: 7px;
    margin: 10px;
    height: 200px;
    width: auto;
    transition: all .2s ease-in-out;
    border: 1px solid white;
}


/* .event:hover {
    transform: scale(1.1);
} */

button {
    border: none;
    color: white;
    margin-top: 40px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #b0aeca;
    color: #354467;
    border: 1px solid white;
    border-radius: 7px;
}

button:hover {
    background-color: #b0aeca;
    color: white;

}

li {
    list-style: none;
    list-style-type: none;
    padding: 20px;
    margin: 20px;
}