button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #707449;
}

button:hover {
    background-color: #49744a;
    color: white;
}

.event {
    border: 2px #49744a solid;
    background-color: rgb(204, 224, 198);
    border-radius: 7px;
    margin: 10px;
    list-style-type: none;
}

ul {
    list-style-type: none;
}